/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/uploads
composer.lock
storage/logs/laravel-2023-07-11.log
*.log
storage/framework/cache/data/c0/71/c071422490d526a8aada046adf3a9c9fa0593468
storage/framework/cache/data/ec/c4/ecc49f49f4da6b940dcde13f0571e79c299871e6
storage/framework/views/8c997cf402ae3ac2152ed3fd64d658d2e9fbbea0.php
storage/framework/views/9179022736d81c55cad8aee0379d5a781f50646a.php
storage/framework/views/*
storage/debugbar/
.rnd
storage/*
public/*
stats/*